<DOCTYPE html>
<html>
    <head>
        <title>Comic Book News</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <link rel="stylesheet" type = "text/css" href="/blog.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    </head>
        <body>
            <div class="ui fixed inverted blue menu">
                <div class = "container">
                    <div class = "ui medium header item"><i class = "exclamation icon"></i>Comic Book News</div>
                    <a href = "/blogs" class="item">Home</a>
                    <a href = "/blogs/new" class="item">New Post</a>
                </div>
            </div>
            